body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 letras por fila */
    gap: 60px;
    justify-items: center;
    margin: 1000;  
    margin-right: 50px;
    padding: 20px; 
}

.letter-box {
    position: relative;
    width: 120px;
    height: 120px;
    background: #ff6666;
    color: white;
    font-size: 80px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;        
}

.letter-box:hover {
    transform: scale(1.05);
}

.panel {
    position: absolute;
    top: 0;
    left: 130px; /* Mostrar panel a la derecha */
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 160px;

}

.panel img {
    width: 70px;
    height: 70px;
    margin: 5px;
    object-fit: contain;
}

.image-box {
    text-align: center;
    font-size: 14px;
    z-index: 1;
}

    .image-box p {
    margin: 0;
}